annotated-types==0.6.0
blis==0.7.11
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cymem==2.0.8
filelock==3.13.1
fsspec==2023.12.2
idna==3.6
Jinja2==3.1.3
joblib==1.3.2
langcodes==3.3.0
MarkupSafe==2.1.3
mpmath==1.3.0
murmurhash==1.0.10
networkx==3.2.1
numpy==1.26.3
packaging==23.2
preshed==3.0.9
pydantic==2.5.3
pydantic_core==2.14.6
pyJoules==0.5.1
regex==2023.12.25
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.4
sklearn==0.0.post12
smart-open==6.4.0
spacy==3.7.2
spacy-curated-transformers==0.2.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-pkuseg==0.0.33
srsly==2.4.8
sympy==1.12
thinc==8.2.2
threadpoolctl==3.2.0
torch==2.1.2
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.9.0
urllib3==2.1.0
wasabi==1.1.2
weasel==0.3.4
zh-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.7.0/zh_core_web_sm-3.7.0-py3-none-any.whl#sha256=f51075665749e07406d629d1055ce5a68635fae6ab3c34257ee798c62b4fc431
zh-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_trf-3.7.2/zh_core_web_trf-3.7.2-py3-none-any.whl#sha256=16b8d4bf23d20a04cfcbe676ae1be2be4437b40cf8101c9f3e7f6db4674ec91d
